.invoice-inputs-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.invoice-inputs-small {
    max-width: 9.5rem;
}

.invoice-inputs-large {
    max-width: 15rem;
}